<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Cadastro de Categorias</title>
	<link rel = "stylesheet" href="cadastrar.css"/>
</head>
<body>
<div id="container">
	<div id="contents">
        <h2>Cadastre a Categoria</h2>
        <form action="/Categoria" method="POST">
            <fieldset>
                <legend>Dados da Categoria</legend>
                Nome:
                <input type="text" name="titulo" size="40" required>
                <br>
                <br>
            </fieldset>
            <p align="center"><input type="submit" value="Cadastrar Categoria"><br> <br>
			<a href="/">HOME</a> <br> <br>
        </form>
    </div>
</div>
</body>
</html>