<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Cadastro de Clientes - Endereço</title>
	<link rel = "stylesheet" href="/css/cadastrar.css"/>
</head>
<body>
<div id="container">
	<div id="contents">
        <h2>Cadastro cliente</h2>
        <form action="/Cliente" method="POST" >
            <fieldset>
                <legend>Dados Pessoais</legend>
                <label>Nome: </label>
					<input type="text" name="nome" placeholder=" Informe seu nome completo "><br><br>
					<label>CPF: </label>
					<input type="text" name="cpf" placeholder=" Informe seu CPF "><br><br>
					<label>Telefone </label>
					<input type="text" name="telefone" placeholder=" Informe seu telefone "><br><br>
					<label>Complemento</label>
					<input type="text" name="complemento" placeholder=" Informe o complemento "> <br> <br>
            </fieldset>
            <p align="center"><input type="submit"> <br> <br>
			<a href="/">HOME</a> <br> <br>
        </form>
    </div>
</div>
</body>
</html>