<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Informe seu Endereço</title>
	<link rel = "stylesheet" href="cadastrar.css"/>
</head>
    <body>
        <div id="container">
            <div id="contents">
                <form method="POST" action="/Endereco">
                    <fieldset>
                        <h3>Informe o endereço de entrega</h3>
                        <label>Rua: </label>
                        <input type="text" name="rua" placeholder=" Informe a rua "><br><br>
                        <label>Bairro: </label>
                        <input type="text" name="bairro" placeholder=" Informe o bairro "><br><br>
                        <label>Número da casa </label>
                        <input type="text" name="numero" placeholder=" Informe o nº da casa "><br><br>
                        <input type="submit" value="Cadastrar"> <br> <br>
                    </fieldset>
                    <a href="/">HOME</a> <br> <br>
                </form>
            </div>
        </div>
    </body>
</html>