<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Cadastro de Clientes - Endereço</title>
        <link rel = "stylesheet" href="cadastrar.css"/> 
    </head>
    <body>
        <div id="container">
            <div id="contents">
                <h2> MENU PRINCIPAL - PIZZARIA MENOS É MAIS</h2>
                <main>
                    <form>
                        <a href="/Cliente">CADASTRO DE CLIENTE</a> <br> <br>
                        <a href="/Entregador">CADASTRO DE ENTREGADORES</a> <br> <br>
                        <a href="/Produto">CADASTRO DE PRODUTOS</a> <br> <br>
                        <a href="/Pedido">REALIZAR PEDIDO</a> <br> <br>
                        <a href="/Categoria">INFORMAR CATEGORIA</a> <br> <br>
                    </form>
                </main>
            </div>
        </div>
    </body>
</html>