body  {
    /*
    background-repeat: repeat;
    background-attachment: fixed;*/
    background-color: white;

}
#container  {
    margin: auto;  /* define o tamanho das margens – todas as margens com tamanho auto */
    width: 1090px;
    background-color: whitesmoke;
    height: 1080px;
}


#mainnav {
    width: 1090px;
    height: 40px;
    margin: -21px 0 20px 0;
    clear: both;
    background-color: #ffa500;
}

nav{
    height: 0px;
    font-family: High Tower Text;
    font-weight: bold;
   	float: left;
    margin: 0 0 0 0;
}
nav ul {
    height: auto;
    padding: 10PX 0 0 10PX;
    margin: 0px;
}

nav li{
    display: inline;
    padding: 0px;
    margin: 0px;
}

nav li a{
    text-decoration: none;
    padding: 9px 6px 12px 6px;
    font-family: High Tower Text;
    font-size: 15px;
    color: white;

}
nav a:hover{
    background-color: #c1c1c1;
    color: #5b5b5b;
}

#menu  {
    clear: both;
    float: left;  /* posicionamento do elemento – localizado a direita */
    width: 498px; /* largura do elemento */
    height: 440px;
    margin: 0 0 20px 30px;
    padding: 8px 8px 8px 8px;
}

h2{
    color: #474747;
    font-family: High Tower Text;
    font-size: 30px;
    line-height: 5pt;
    text-align: center;
}

p{
    color: #333333;
    font-family: Arial;
    font-size: 17px;
    line-height: 15pt;
    text-align: justify;
}

.botao{
    text-align: center;
}
#contents  {
    float: left; /* posicionamento do elemento – localizado a esquerda */
    height: 440px; /* largura do elemento */
    width: 1075px; /* largura do elemento */
    margin: 0 30px 20px 0; /* define o tamanho das margens – margem superior com 0; direita com 0; inferior  com 0; e esquerda com 20px*/
    padding: 8px 8px 8px 8px;
}
form{
    width: 500px;
    margin: auto;
}
form p{
    text-align: center;
}

#footer  {
    clear: both;  /* O elemento será posicionado abaixo da borda inferior de qualquer elemento, seja direita ou a esquerda */
    background-color: #474747; /* cor de fundo do elemento */
    color: #adadad;
    height: 30px;
    margin: 665px 0 0 0;
}
